<style>
.dropdown-menu{min-width:3vw;}

.navbar-header{
   left: 50%;
   position: relative;
   transform: translateX(-50%);
        height: 10vh;
    font-size: medium;
    }

.navbar{

    margin-top:1%;
}
    
</style>
<nav class="navbar navbar-inverse" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HOME</a>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Hello John</a>
            <ul class="dropdown-menu">
            <li><a href="#">Transaction</a></li>
                <li><a href="#">Savings</a></li>
            <li><a href="#">Allowance</a></li>
            <li><a href="#">Rewards</a></li>
          </ul>
      </li>


      <li><a href="#"><span class="glyphicon glyphicon-off"></span> Logout</a></li>
    </ul>
  </div>
</nav>
